<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="styles2.css">


  <title>Shop</title>
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>

<body class="container" style="max-width: 100%;">
  <%- include("partials/header.ejs") %>



<!-- BANNERS -->

 <!-- FLAT 500 OFF -->
       <a class="FLAT 500 OFF" href="/main" ><img  src="images/FLAT 500 OFF banner.jpg" alt="flatrs100off" ></a>
  <!--FLAT 500 OFF  -->
 
 <!-- KIARA -->
    <a href="/main"><img src="images/Untitled design.jpg" alt="KIARA" style="
      padding-top: 10px ;padding-left: 60px;
      padding-right: 60px;
      "></a>
 <!-- KIARA -->

 <!-- FESTIVE BANNER -->
     <a href="/main"> <img  src="images/festive.png"  alt="FESTIVE BANNER" style="
      padding-top: 10px;padding-left: 10px;
      padding-right: 10px;">
</a>
 <!-- FESTIVE BANNER -->

<!-- CARD DISPLAY -->

       
          <div class="container px-5 py-24 mx-auto" style="max-width: 100%;">
            <div class="flex flex-wrap -m-4">
              <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                <a class="block relative h-48 rounded overflow-hidden">
                  <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://img.tatacliq.com/images/i13/437Wx649H/MP000000018940381_437Wx649H_202308271630521.jpeg">
                </a>
                <div class="mt-4">
                  <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Shirt, jeans and more</h3>
                  <h2 class="text-gray-900 title-font text-lg font-medium">Allen Solly, LP jeans and more</h2>
                  <p class="mt-1">Min 50% off</p>
                </div>
              </div>
              <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                <a class="block relative h-48 rounded overflow-hidden">
                  <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://www.louiscopeland.com/cdn/shop/articles/276A8720_800x800.jpg?v=1660145184">
                </a>
                <div class="mt-4">
                  <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Top casual styles</h3>
                  <h2 class="text-gray-900 title-font text-lg font-medium">Gant Nautica and more</h2>
                  <p class="mt-1">Min 50% off</p>
                </div>
              </div>
              <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                <a class="block relative h-48 rounded overflow-hidden">
                  <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://asset20.ckassets.com/blog/wp-content/uploads/sites/5/2022/11/Best-Mens-Formal-Wear-Brands-in-India.jpg">
                </a>
                <div class="mt-4">
                  <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Office Outfits</h3>
                  <h2 class="text-gray-900 title-font text-lg font-medium">Park Avenue & more</h2>
                  <p class="mt-1">Min 60% off</p>
                </div>
              </div>
              <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                <a class="block relative h-48 rounded overflow-hidden">
                  <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://www.tasva.com/cdn/shop/collections/3-Website-banner-1500wx265h_1024x1024.jpg?v=1667824973">
                </a>
                <div class="mt-4">
                  <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Best of Kurtas</h3>
                  <h2 class="text-gray-900 title-font text-lg font-medium">anouk, sangi and more</h2>
                  <p class="mt-1">Under $499</p>
                </div>
              </div>
              <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                <a class="block relative h-48 rounded overflow-hidden">
                  <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://images.herzindagi.info/image/2022/Jun/ethnic-wear-tips-influencers.jpg">
                </a>
                <div class="mt-4">
                  <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Kurta set for Seasons</h3>
                  <h2 class="text-gray-900 title-font text-lg font-medium">W, Libas</h2>
                  <p class="mt-1">Min. 60-80% off</p>
                </div>
              </div>
              <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                <a class="block relative h-48 rounded overflow-hidden">
                  <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://ajmeraretail.com/cdn/shop/articles/520x285_04_1024x1024.jpg?v=1671176767">
                </a>
                <div class="mt-4">
                  <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Stylish Ethnic wear</h3>
                  <h2 class="text-gray-900 title-font text-lg font-medium">JanaSya, RustOrange & more</h2>
                  <p class="mt-1">Starting $399</p>
                </div>
              </div>
              <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                <a class="block relative h-48 rounded overflow-hidden">
                  <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://images.news18.com/ibnlive/uploads/2021/12/activewear-16397266944x3.jpg">
                </a>
                <div class="mt-4">
                  <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Active Wear</h3>
                  <h2 class="text-gray-900 title-font text-lg font-medium">Shop Now</h2>
                  <p class="mt-1">30-70% off</p>
                </div>
              </div>
              <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                <a class="block relative h-48 rounded overflow-hidden">
                  <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://image-cdn.hypb.st/https%3A%2F%2Fhypebeast.com%2Fimage%2F2016%2F06%2Fhm-sports-performance-collection-0.jpg?fit=max&cbr=1&q=90&w=750&h=500">
                </a>
                <div class="mt-4">
                  <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Sportswear</h3>
                  <h2 class="text-gray-900 title-font text-lg font-medium">Shop Now</h2>
                  <p class="mt-1">30-80% off</p>
                </div>
              </div>
            </div>
          </div>
          
        </section>      

    </div>

    <!-- CARD DISPLAY -->

    
    
    <%- include("partials/footer.ejs") %>




</body>

  
</html>